<section class="main-container mat-elevation-z8" tabindex="0">
  <form [formGroup]="chequeoTable">
    <table class="table table-border" [ngClass]="{'table-dark': mode}">
      <thead>
        <tr>
          <th *ngFor="let field of formFields">{{field.name}}
            <span class="ui-column-resizer" dragableColumn> </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container
          formArrayName="tableRows"
          *ngFor="let group of getFormControls.controls;
          let i = index;">

          <tr *ngIf="group.get('isEditable').value" [formGroupName]="i">

            <td *ngFor="let field of formFields">
              <mat-form-field>
                <input matInput type="text" [formControlName]="field.formControl"/>
              </mat-form-field>
            </td>

            <td>
              <mat-icon class="delete" (click)="deleteRow(i)">delete_forever</mat-icon>
              <mat-icon class="done" (click)="doneRow(group)">done</mat-icon>
            </td>
          </tr>

          <tr *ngIf="!group.get('isEditable').value">
            <td *ngFor="let field of formFields">
              {{group.get(field.formControl).value}}
            </td>
            <mat-icon class="edit" (click)="editRow(group)">edit</mat-icon>
          </tr>

        </ng-container>
      </tbody>
    </table>
    <div class="action-container">
      <button mat-raised-button type="submit" (click)="addRow()">Add row</button>
      <button mat-raised-button [disabled]="chequeoTable.invalid" type="submit" (click)="submitForm()">Submit</button>
    </div>
  </form>
</section>
