mat-sidenav {
  display: flex;
  justify-content: center;
  width: 24%;
  background-color: #203c75;
}

mat-nav-list {
  display: grid;
  margin-top: 5px;
  /*justify-content: center;*/
}

mat-sidenav-content {
  padding: 20px;
  padding-bottom: 50px;
}

.bodyimg{
  
  background-repeat: no-repeat;
  margin: 220px 190px;
  background-color: #fff;
}

button {
  background-color: #1f3541;
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight: 600; 
}

.button1{
  background: linear-gradient( #57a5ff, #9fd7f8) ;
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  padding: 10px;
}

.userInfo {
  margin-top: 20px;
  justify-self: center;
  justify-items: center;
  font-family: monospace;
  font-size: large;
  font-weight: 600;
  color: #eee;
}

.userInfosub {
  margin-top: 5px;
  margin-bottom: 40px;
  justify-self: center;
  justify-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: 200;
  color: rgb(255, 255, 255);  
}

.allButtons {
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.functionButtonsMat{
  justify-content: center;
  display: grid;
}

.logOutButton {
  margin-top: 200px;
  justify-content: center;
  justify-self: center;
  width: 200%;
}

.allButton {
  margin-top: 1px;
  justify-content: center;
  justify-self: center;
  width: 200%;
  padding: 10px;
}

.functions {
  display: grid;
  justify-content: center;
  align-items: center;
}

.functionButtons {
  justify-content: grid;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  justify-items: space-around;
}

.container {
  position: absolute;
  align-items: center;
  justify-content: space-between; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(255, 255, 255); 
}

.buttons {
  justify-content: space-between;
}



