<div>
  <mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened class="contentContainer">
      <mat-nav-list class="userInfo">
        <mat-nav-list>
          {{ user.name + " " + user.surname }}
        </mat-nav-list>
        <mat-nav-list>
          {{ user.rol }}
        </mat-nav-list>
      </mat-nav-list>

      <mat-nav-list class="functions">
        <div class="buttons">
          <mat-nav-list class="allButtons">
            <mat-nav-list class="functionButtonsMat">
              <div class="functionButtons">
                <mat-nav-list>
                  <button mat-raised-button type="button" (click)="showChequeo()">
                    Lista de chequeo
                  </button>
                </mat-nav-list>

                <mat-nav-list>
                  <button mat-raised-button type="button" (click)="showTAC()">
                    Consulta de TAC
                  </button>
                </mat-nav-list>

                <mat-nav-list>
                  <button mat-raised-button type="button" (click)="showConsolidado()">
                    Consolidado
                  </button>
                </mat-nav-list>

                <mat-nav-list *ngIf="access">
                  <button mat-raised-button type="button" (click)="showRegistro()">
                    Registrar usuarios
                  </button>
                </mat-nav-list>
              </div>
            </mat-nav-list>

            <div class="logOutButton">
              <mat-nav-list>
                <button mat-raised-button type="button" (click)="logout()">
                  Log Out
                </button>
              </mat-nav-list>
            </div>
          </mat-nav-list>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content *ngIf="chequeo == true">
      <tableChequeo></tableChequeo>
    </mat-sidenav-content>
    
    <mat-sidenav-content *ngIf="tac == true">
      <tableTAC></tableTAC>
    </mat-sidenav-content>
    
    <mat-sidenav-content *ngIf="consolidado == true">
      <tableConsolidado></tableConsolidado>
    </mat-sidenav-content>
    
    <mat-sidenav-content *ngIf="registro == true">
      <tableRegistro></tableRegistro>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
